debug:
  local_log: false
groups:
  - 0
  - 0
  - 0
image:
  blur: 10
  resize_mode: 'scale'
  thread: false
test:
  api_hash: ''
  api_id: ''
  groups: []
  session: ''
  tag: ''
  token: ''
token: ''
webhook:
  enabled: false
  url: ''