debug:
  local_log: false
groups: []
image:
  blur: 10
  resize_mode: 'crop'
  thread: false
test:
  api_hash: ''
  api_id: ''
  groups: []
  session: ''
  tag: ''
  token: ''
token: ''
webhook:
  enabled: false
  url: ''